* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

p {
    margin: none;
}

h1 {
    margin-left: 20px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

img {
    width: 200px;
    height: 350px;
}

.stars {
    display: inline-flex;
    gap: 5px;
    cursor: pointer;
    font-size: 10px;
    color: #ccc;
    transition: color 0.2s;
}

.container {
    margin-top: 40px;
}

.card-body {
    margin-bottom: 40px;
}

.card-body h3 {
    height: 100px;
}

.image-container {
    background-color: rgba(237, 237, 237, 1);
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    width: 100px;
    height: 30px;
    margin-bottom: 16px;
}

.product-price {
    font-size: large;
}

.product-description {
    font-size: 15px;
    color: rgba(111, 111, 111, 1);
    height: 120px;
}

.card-body button {
    border: none;
    outline: none;
    text-align: center;
    width: 100px;
    height: 30px;
    color: rgba(111, 111, 111, 1);
    cursor: pointer;
}

.card-body button:hover {
    color: white;
    background-color: black;
}

.page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 600px;
}

.red-styling {
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.page-element {
    cursor: pointer;
}